<div class="marco-tabs">
  <ul class="nav nav-tabs">
    <li>
      <a href="#normal_panel" data-toggle="tab" aria-expanded="false">简单面板</a>
    </li>

    <li class="active">
      <a href="#usual_panel" data-toggle="tab" aria-expanded="true">普通面板</a>
    </li>

    <li>
      <a href="#advanced_panel" data-toggle="tab" aria-expanded="true">高级面板</a>
    </li>
  </ul>
</div>

<div class="tab-content">
  <div id="normal_panel" class="tab-pane">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="normal-panel" style="border-color: #c0392b;">
        <div class="normal-heading" style="background: #c0392b;">
          Person
        </div>
        <div class="normal-body">
          <div class="body-left" style="border-color: #c0392b;">
            <img src="/assets/headshot/3.jpg" alt="Picture">
          </div>

          <div class="body-right">
            <span><label class="label label-danger">宋福祯</label>
              <label class="label label-danger">管理员</label>
              <label class="label label-danger"> 男</label> </span>
            <hr>
            <p>学习中经常取得成功可能会导致更大的学习兴趣，并改善学生作为学习的自我概念。——布鲁姆</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="normal-panel">
        <div class="normal-heading">
          Person
        </div>
        <div class="normal-body">
          <div class="body-left">
            <img src="/assets/headshot/1.jpg" alt="Picture">
          </div>

          <div class="body-right">
            <span><code>Marco</code>/<code>管理员</code>/<code>男</code> </span>
            <hr>
            <p>伟人所达到并保持着的高处，并不是一飞就到的，而是他们在同伴们都睡着的时候，一步步艰辛地向上攀爬的。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="normal-panel" style="border-color: lightseagreen;">
        <div class="normal-heading" style="background: lightseagreen;">
          Person
        </div>
        <div class="normal-body">
          <div class="body-left" style="border-color: lightseagreen;">
            <img src="/assets/headshot/1.jpg" alt="Picture">
          </div>

          <div class="body-right">
            <span><label class="label label-success">宋福祯</label>
              <label class="label label-success">管理员</label>
              <label class="label label-success"> 男</label> </span>
            <hr>
            <p>学习中经常取得成功可能会导致更大的学习兴趣，并改善学生作为学习的自我概念。——布鲁姆</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="normal-panel" style="border-color: #8e44ad;">
        <div class="normal-heading" style="background: #8e44ad;">
          Person
        </div>
        <div class="normal-body">
          <div class="body-left" style="border-color: #8e44ad;">
            <img src="/assets/headshot/3.jpg" alt="Picture">
          </div>

          <div class="body-right">
            <span><label class="label label-info">宋福祯</label>
              <label class="label label-info">管理员</label>
              <label class="label label-info"> 男</label> </span>
            <hr>
            <p>学习中经常取得成功可能会导致更大的学习兴趣，并改善学生作为学习的自我概念。——布鲁姆</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="panel normal-panel" style="border-color: #c0392b;">
        <div class="normal-heading" style="background: #c0392b;">
          Person
        </div>
        <div class="normal-body">
          <div class="body-left" style="border-color: #c0392b;">
            <img src="/assets/headshot/3.jpg" alt="Picture">
          </div>

          <div class="body-right">
            <span><label class="label label-danger">宋福祯</label>
              <label class="label label-danger">管理员</label>
              <label class="label label-danger"> 男</label> </span>
            <hr>
            <p>学习中经常取得成功可能会导致更大的学习兴趣，并改善学生作为学习的自我概念。——布鲁姆</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="panel normal-panel">
        <div class="normal-heading">
          Person
        </div>
        <div class="normal-body">
          <div class="body-left">
            <img src="/assets/headshot/1.jpg" alt="Picture">
          </div>

          <div class="body-right">
            <span><code>Marco</code>/<code>管理员</code>/<code>Male</code> </span>
            <hr>
            <p>伟人所达到并保持着的高处，并不是一飞就到的，而是他们在同伴们都睡着的时候，一步步艰辛地向上攀爬的。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="panel normal-panel" style="border-color: lightseagreen;">
        <div class="normal-heading" style="background: lightseagreen;">
          Person
        </div>
        <div class="normal-body">
          <div class="body-left" style="border-color: lightseagreen;">
            <img src="/assets/headshot/1.jpg" alt="Picture">
          </div>

          <div class="body-right">
            <span><label class="label label-success">宋福祯</label>
              <label class="label label-success">管理员</label>
              <label class="label label-success"> 男</label> </span>
            <hr>
            <p>学习中经常取得成功可能会导致更大的学习兴趣，并改善学生作为学习的自我概念。——布鲁姆</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="panel normal-panel" style="border-color: #8e44ad;">
        <div class="normal-heading" style="background: #8e44ad;">
          Person
        </div>
        <div class="normal-body">
          <div class="body-left" style="border-color: #8e44ad;">
            <img src="/assets/headshot/3.jpg" alt="Picture">
          </div>

          <div class="body-right">
            <span><label class="label label-info">宋福祯</label>
              <label class="label label-info">管理员</label>
              <label class="label label-info"> 男</label> </span>
            <hr>
            <p>学习中经常取得成功可能会导致更大的学习兴趣，并改善学生作为学习的自我概念。——布鲁姆</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="usual_panel" class="tab-pane active">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="usual-panel" style="border-color: #3498DB;">
        <div class="usual-heading" style="background: #3498DB;">
          Task
          <div class="pull-right" style="margin-right: 10px;">
            <i class="fa fa-chevron-up"></i>
          </div>
        </div>
        <div class="usual-body">
          <!--list show-->
          <div class="marco-task">
            <input type="checkbox">
            <b>人生的光荣，不在于永不言败，而在于能够屡扑屡起。——拿破仑</b>
          </div>

          <div class="marco-task">
            <input type="checkbox">
            <b>不经风雨，长不成大树；不受百炼，难以成钢。——雷锋</b>
          </div>

          <hr style="border-color: #dddddd;">

          <div class="marco-task">
            <input type="checkbox" checked>
            <b>
              <del>竹笋虽然柔嫩，但它不怕重压，敢于奋斗、敢于冒尖。</del>
            </b>
          </div>

          <div class="marco-task">
            <input type="checkbox" checked>
            <b>
              <del>不管你的老师如何，学着喜欢他，这样有助于你对他所教的科目的学习。</del>
            </b>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="usual-panel" style="border-color: #c0392b;">
        <div class="usual-heading" style="background: #c0392b;">
          Task
          <div class="pull-right" style="margin-right: 10px;">
            <i class="fa fa-chevron-up"></i>
          </div>
        </div>
        <div class="usual-body">
          <!--list show-->
          <div class="marco-task" style="border-color: #c0392b;">
            <input type="checkbox">
            <b style="border-color: #c0392b;">人生的光荣，不在于永不言败，而在于能够屡扑屡起。——拿破仑</b>
          </div>

          <div class="marco-task" style="border-color: #c0392b;">
            <input type="checkbox">
            <b style="border-color:#c0392b;">不经风雨，长不成大树；不受百炼，难以成钢。——雷锋</b>
          </div>

          <hr style="border-color: #dddddd;">

          <div class="marco-task" style="border-color: #c0392b;">
            <input type="checkbox" checked>
            <b style="border-color: #c0392b;">
              <del>竹笋虽然柔嫩，但它不怕重压，敢于奋斗、敢于冒尖。</del>
            </b>
          </div>

          <div class="marco-task" style="border-color: #c0392b;">
            <input type="checkbox" checked>
            <b style="border-color: #c0392b;">
              <del>不管你的老师如何，学着喜欢他，这样有助于你对他所教的科目的学习。</del>
            </b>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="usual-panel" style="border-color: lightseagreen;">
        <div class="usual-heading" style="background: lightseagreen;">
          Task
          <div class="pull-right" style="margin-right: 10px;">
            <i class="fa fa-chevron-up"></i>
          </div>
        </div>
        <div class="usual-body">
          <!--list show-->
          <div class="marco-task" style="border-color: lightseagreen;">
            <input type="checkbox">
            <b style="border-color: lightseagreen;">人生的光荣，不在于永不言败，而在于能够屡扑屡起。——拿破仑</b>
          </div>

          <div class="marco-task" style="border-color: lightseagreen;">
            <input type="checkbox">
            <b style="border-color: lightseagreen;">不经风雨，长不成大树；不受百炼，难以成钢。——雷锋</b>
          </div>

          <hr style="border-color: #dddddd;">

          <div class="marco-task" style="border-color: lightseagreen;">
            <input type="checkbox" checked>
            <b style="border-color: lightseagreen;">
              <del>竹笋虽然柔嫩，但它不怕重压，敢于奋斗、敢于冒尖。</del>
            </b>
          </div>

          <div class="marco-task" style="border-color: lightseagreen;">
            <input type="checkbox" checked>
            <b style="border-color: lightseagreen;">
              <del>不管你的老师如何，学着喜欢他，这样有助于你对他所教的科目的学习。</del>
            </b>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="usual-panel" style="border-color: #8e44ad;">
        <div class="usual-heading" style="background: #8e44ad;">
          Task
          <div class="pull-right" style="margin-right: 10px;">
            <i class="fa fa-chevron-up"></i>
          </div>
        </div>
        <div class="usual-body">
          <!--list show-->
          <div class="marco-task" style="border-color: #8e44ad;">
            <input type="checkbox">
            <b style="border-color: #8e44ad;">人生的光荣，不在于永不言败，而在于能够屡扑屡起。——拿破仑</b>
          </div>

          <div class="marco-task" style="border-color: #8e44ad;">
            <input type="checkbox">
            <b style="border-color: #8e44ad;">不经风雨，长不成大树；不受百炼，难以成钢。——雷锋</b>
          </div>

          <hr style="border-color: #dddddd;">

          <div class="marco-task" style="border-color: #8e44ad;">
            <input type="checkbox" checked>
            <b style="border-color: #8e44ad;">
              <del>竹笋虽然柔嫩，但它不怕重压，敢于奋斗、敢于冒尖。</del>
            </b>
          </div>

          <div class="marco-task" style="border-color: #8e44ad;">
            <input type="checkbox" checked>
            <b style="border-color: #8e44ad;">
              <del>不管你的老师如何，学着喜欢他，这样有助于你对他所教的科目的学习。</del>
            </b>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="advanced_panel" class="tab-pane">
    高级面板
  </div>

</div>


<script type="text/javascript" charset="utf-8">
  Common.PanelChevron('.normal-body');
  Common.PanelChevron('.usual-body');
</script>